@model GWA.Models.Product.ProductViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ProductViewModel</h4>
        <hr />
        @*@{string path = "~/Content/Upload/" + @Model.ImageUrl;}*@

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.reference)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.reference)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CurrentPrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CurrentPrice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ImageUrl)
                @{string path = "~/Content/Upload/" + @Model.ImageUrl;}
                <img alt="Produit" src="@Url.Content(path)"  />
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IdUser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IdUser)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CategoryId)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
